{% extends 'snuway_front/base.html' %}

{% load staticfiles %}

{% block content %}

    <body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> 메뉴 <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">스누웨이</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">서비스 소개</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">팀 소개</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="lend">빌려주기</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="lend_list">빌리기</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="my">마이페이지</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#login" data-target="#login" data-toggle="modal">로그인</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">퍼스널 모빌리티 대여 서비스</div>
                <div class="intro-heading">스누웨이</div>
                <a href="lend" class="page-scroll btn btn-xl">빌려주기</a>
                <b>　　　　</b>
                <a href="lend_list" class="page-scroll btn btn-xl">빌리기</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">서비스 소개</h2>
                    <h3 class="section-subheading text-muted">퍼스널 모빌리티, 이제 나눠 타세요!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="\static\img\icon_segway.png" alt="segway" class="img-responsive">
                    </span>
                    <h4 class="service-heading">다양한 기종</h4>
                    <p class="text-muted">세그웨이, 전동킥보드, 외발휠 등 다양한 종류의 퍼스널 모빌리티를 만나볼 수 있습니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="\static\img\icon_calendar.png" alt="calendar" class="img-responsive">
                    </span>
                    <h4 class="service-heading">편리한 스케쥴 편성</h4>
                    <p class="text-muted">원하는 대여 날짜와 시간대를 손쉽게 설정, 관리할 수 있는 달력 기능을 제공합니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="\static\img\icon_map.png" alt="map" class="img-responsive">
                    </span>
                    <h4 class="service-heading">Daum 지도 검색 기능</h4>
                    <p class="text-muted">빌려주거나 빌릴 위치를 원하는 대로 검색하고 설정할 수 있습니다.  </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">팀 소개</h2>
                    <h3 class="section-subheading text-muted">스누웨이는 서울대학교 벤처경영학과에서 진행하는 프로젝트입니다. <br>웹사이트는 연합동아리 '피로그래밍'를 통해 제작되었습니다.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="\static\img\logo_snuway.png" class="img-responsive img-circle" alt="logo_snuway">
                        <h4>스누웨이</h4>
                        <p class="text-muted">서울대학교 벤처경영학과 프로젝트</p>
<!--                         <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="\static\img\entrepreneurship.jpg" class="img-responsive img-circle" alt="entrepreneurship">
                        <h4>서울대학교 벤처연합전공</h4>
                        <p class="text-muted">서울대학교 기업가센터 주관</p>
<!--                         <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="\static\img\programming.jpg" class="img-responsive img-circle" alt="programming">
                        <h4>피로그래밍</h4>
                        <p class="text-muted">학생 연합 프로그래밍 동아리</p>
<!--                         <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}