{% extends 'snuway_front/base.html' %}

{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html lang="ko">


<script>
$('#myTab a[href="#account"]').('show')
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
$('#myTab a[href="#account"]').tab('show')
</script>


<!-- 네비게이션 바 시작 -->
<body id="page-top" class="index">
    <nav id="mainNav" class="navbar navbar-default navbar-custom1 navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> 메뉴 <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index">스누웨이</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index">홈</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="lend">빌려주기</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="lend_list">빌리기</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#my">마이페이지</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#login" data-target="#login" data-toggle="modal">로그인</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</body>
<!-- 네비게이션 바 끝 -->


<!-- 상단 바와 내용 사이의 간격은 agency.min.css에서 @media (min-width:768px){section{padding:70px 0}} 부분을 수정하면 된다. -->


<!-- 탭 메뉴 시작 -->
<section id="my">
    <div role="tabpanel">
        <div class="row">
          <!-- Nav tabs -->
            <div class="col-sm-3 col-md-3">
                <ul class="nav nav-pills nav-stacked" role="tablist" id="myTab">
                    <li role="presentation" class="active"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">회원 정보</a></li>
                    <li role="presentation"><a href="#booking" aria-controls="booking" role="tab" data-toggle="tab">예약 현황</a></li>
                    <li role="presentation"><a href="#profit" aria-controls="profit" role="tab" data-toggle="tab">거래 내역</a></li>
                </ul>
            </div>


            <!-- Tab panes -->
            <div class="tab-content col-sm-6 col-md-9">
                <div role="tabpanel" class="tab-pane active" id="account">스크롤을 위한 공백<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
                <div role="tabpanel" class="tab-pane fade" id="booking">...</div>
                <div role="tabpanel" class="tab-pane fade" id="profit">...</div>
            </div>
        </div>
    </div>

</section>
<!-- 탭 메뉴 끝 -->

</html>

{% endblock %}


